html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#notifications {
	top: 3%;
	left: 65%;
	color: rgba(255,255,255,0.7);
	max-width: 550px;
	font-size: 12px;
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#notifications b {
	color: rgba(255,255,255,1);
}

#success {
	background: url("img/1.png") 10px no-repeat;
	float: left;
	padding: 7px 10px 7px 30px;
	border-radius: 4px;
 	margin: 0 0 10px 10px;
	background-color: rgba(69,127,0,0.8);
}

#deny {
	background: url("img/2.png") 10px no-repeat;
	float: left;
	padding: 7px 10px 7px 30px;
	border-radius: 4px;
 	margin: 0 0 10px 10px;
	background-color: rgba(200,50,50,0.8);
}

#warn {
	background: url("img/3.png") 10px 5px no-repeat;
	float: left;
	padding: 7px 10px 7px 31px;
	border-radius: 4px;
 	margin: 0 0 10px 10px;
	background-color: rgba(205,164,0,0.8);
}

#info {
	background: url("img/4.png") 10px no-repeat;
	float: left;
	padding: 7px 10px 7px 32px;
	border-radius: 4px;
 	margin: 0 0 10px 10px;
	background-color: rgba(0,121,205,0.8);
}

/* PROGRESS BAR */
#tbody {
	display: none;
	overflow: hidden;
}
#pbar_outerdiv {
	background: rgba(0,0,0,0.3);
	bottom: 5%;
	left: 50%;
	width: 15%;
	height: 30px;
	transform: translate(-50%,-50%);
	position: fixed;
	border: 1px solid rgba(0,0,0,0.2);
}
#pbar_innerdiv {
	background-color: rgba(4,174,245,0.8);
	height: 100%;
	width: 0%;
}
#pbar_innertext {
	top: 7px;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 13px;
	position: absolute;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	letter-spacing: 1px;
}